Map.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sbentries">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sbhead">
          <xs:complexType>
            <xs:attribute name="iconscale" type="xs:unsignedByte" use="required" />
            <xs:attribute name="sbcolwidth" type="xs:string" use="required" />
            <xs:attribute name="showpolys" type="xs:string" use="required" />
            <xs:attribute name="shownumbers" type="xs:string" use="required" />
            <xs:attribute name="sborder" type="xs:string" use="required" />
            <xs:attribute name="initzoom" type="xs:string" use="required" />
            <xs:attribute name="maptype" type="xs:string" use="required" />
            <xs:attribute name="baselocation" type="xs:string" use="required" />
            <xs:attribute name="baselatlng" type="xs:string" use="required" />
            <xs:attribute name="forwhat" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="sbentry">
          <xs:complexType>
            <xs:attribute name="infobeforelabel" type="xs:string" use="optional" />
            <xs:attribute name="label" type="xs:string" use="required" />
            <xs:attribute name="forecolor" type="xs:string" use="required" />
            <xs:attribute name="backcolor" type="xs:string" use="required" />
            <xs:attribute name="group" type="xs:unsignedByte" use="required" />
            <xs:attribute name="sbindex" type="xs:byte" use="required" />
            <xs:attribute name="LatLng" type="xs:decimal" use="optional" />
            <xs:attribute name="infoafteraddress" type="xs:string" use="optional" />
            <xs:attribute name="address" type="xs:string" use="optional" />
            <xs:attribute name="SVGPath" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="polygon">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="point">
                <xs:complexType>
                  <xs:attribute name="lat" type="xs:decimal" use="required" />
                  <xs:attribute name="lng" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="label" type="xs:string" use="required" />
            <xs:attribute name="strokecolor" type="xs:string" use="required" />
            <xs:attribute name="fillcolor" type="xs:string" use="required" />
            <xs:attribute name="strokeOpacity" type="xs:decimal" use="required" />
            <xs:attribute name="strokeweight" type="xs:unsignedByte" use="required" />
            <xs:attribute name="fillOpacity" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>