MapEntries.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sbentries">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="sbentry">
          <xs:complexType>
	    <xs:attribute name="picThumbref" type="xs:string" use="optional" />
	    <xs:attribute name="infobeforelabel" type="xs:string" use="optional" />
            <xs:attribute name="label" type="xs:string" use="required" />
            <xs:attribute name="address" type="xs:string" use="optional" />
            <xs:attribute name="infoafteraddress" type="xs:string" use="optional" />
            <xs:attribute name="LatLng" type="xs:string" use="optional" />
            <xs:attribute name="sortkeys" type="xs:string" use="optional" />
            <xs:attribute name="sbindex" type="xs:integer" use="required" />
            <xs:attribute name="group" type="xs:integer" use="required" />
            <xs:attribute name="forecolor" type="xs:string" use="optional" />
            <xs:attribute name="backcolor" type="xs:string" use="optional" />
            <xs:attribute name="SVGPath" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>